<h1>Welcome to {{title}}</h1>

<h2>Properties</h2>

<property-list>
  <ng-template let-property>
    <input id="{{property.name}}" type="radio" name="property" (click)="selectedProperty = property"
           value="{{property.name}}"/>
    <label for="{{property.name}}">{{property.name}}</label>
    <br/>
  </ng-template>
</property-list>

<h2>Availability</h2>

<ul>
  <availability-list [property]="selectedProperty">
    <ng-template let-availableDay>
      <li>{{selectedProperty?.name}} - {{availableDay.date}} - {{availableDay.rate}}</li>
    </ng-template>
  </availability-list>
</ul>

<router-outlet></router-outlet>
