h1 {
  color: #273927;
  font-size: 24px;
}

h2 {
  color: #4d6f4d;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.address {
  color: #506f66;
  font-size: 20px;
}

.propertyName {
  color: #506f66;
}
